.trends{
    width: 80vw;
    margin-top: 16px;
}
.trends-name{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}
.trends-name a {
    white-space: nowrap;
  }
  .trends-name img{
    width: 24px;
  }