.App {
  text-align: center;
}

.App-content {
  
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}
.App-header{
font-size: 50px;
color: white;
font-weight: bolder;
font-family: 'Montserrat', sans-serif;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}
.App-header a{
  text-decoration: none;
  color:white
}
.App-content,.App-header{
  background-color: #282c34;
}
button{
  width: 200px;
  height: 50px;
  margin-top: 10px;
}